@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    background: #bbc6fa;
}

.kanye-box {
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}

.kanye-box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.kanye-box h2::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgba(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.kanye-box blockquote#kanye-quote {
    font-size: 20px;
    min-height: 110px;
}

.kanye-box blockquote#kanye-quote::before,
.kanye-box blockquote#kanye-quote::after {
    content: '"';
}

.kanye-box span#kanye-author {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.kanye-box span#kanye-author::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}

.kanye-box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.kanye-box button {
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.kanye-box button img {
    width: 20px;
    margin-right: 10px;
}

.kanye-box button:nth-child(2) {
    background: transparent;
    color: #333;
}
