* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    background: url('https://raw.githubusercontent.com/ajy-ocean/vanilla_p100_challenge/master/32_drum_kit/images/background.jpg') bottom center;
    background-size: cover;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .0s ease;
    width: 10rem;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}