* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
}

p {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    font-size: 3rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background: #ff0000;
}

#paper {
    background: #2196f3;
}

#scissors {
    background: #4caf50;
}

#user-score {
    color: #2196f3;
}

#computer-score {
    color: #ff0000;
}
